.AddInitiative {
  background-color: $snow;
}

.AddInitiative-form {
  display: flex;
  flex-wrap: wrap;
}
.AddInitiative-formItem {
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

@media (--bp-tablet) {
  .AddInitiative-formItem {
    flex-basis: 50%;
  }
}

.AddInitiative-label {
  padding-top: 2px;
  padding-bottom: 2px;
}

.AddInitiative-input {
}

.AddInitiative-textarea {
  min-height: 100px;
}

.AddInitiative-formHeading {
  flex-basis: 100%;
}

/* @media (--bp-tablet) {
  .AddInitiative-pair {
    flex-direction: row;
  }
  .AddInitiative-form label {
    padding: 5px;
  }
}
.AddInitiative-form textarea {
  height: 100px;
  padding: 5px;
}

.AddInitiative-form input {
  flex: 1;
}

@media (--bp-tablet) {
  .AddInitiative-form textarea {
    min-width: 300px;
  }

  .AddInitiative-form input {
    min-width: 300px;
  }
} */

.AddInitiative-text {
  vertical-align: top;
  display: inline-block;
}

.AddInitiative-location {
  height: 200px;
}

@media (--bp-tablet) {
  .AddInitiative-location {
    height: 350px;
  }
}

.AddInitiative-label button {
  font-size: 1.5em;
  padding: 0px;
  margin-left: 5px;
}
.AddInitiativeCategory-lookup div {
  display: flex;
}

.AddInitiative ul {
  padding: 0px;
}
.AddInitiative li {
  list-style-type: none;
  cursor: pointer;
}

.AddInitiative li:nth-child(odd) {
  background-color: #fff;
}
.AddInitiative li:nth-child(even) {
  background-color: #eee;
}
