.AddInitiative {
  background-color: $snow;
}

.AddInitiative-form {
  display: flex;
  flex-direction: column;
}
.AddInitiative-pair {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.AddInitiative-form label {
  display: flex;
  flex: 1;
  min-width: 300px;
  vertical-align: top;
  flex-direction: column;
  padding: 2px;
}
@media (--bp-tablet) {
  .AddInitiative-pair {
    flex-direction: row;
  }
  .AddInitiative-form label {
    padding: 5px;
  }
}
.AddInitiative-form textarea {
  height: 100px;
  padding: 5px;
}

.AddInitiative-form input {
  flex: 1;
}

@media (--bp-tablet) {
  .AddInitiative-form textarea {
    min-width: 300px;
  }

  .AddInitiative-form input {
    min-width: 300px;
  }
}

.AddInitiative-text {
  vertical-align: top;
  display: inline-block;
}

.AddInitiative-location {
  height: 200px;
}

@media (--bp-tablet) {
  .AddInitiative-location {
    height: 350px;
  }
}

.AddInitiative-label button {
  font-size: 1.5em;
  padding: 0px;
  margin-left: 5px;
}
.AddInitiativeCategory-lookup div {
  display: flex;
}

.AddInitiative ul {
  padding: 0px;
}
.AddInitiative li {
  list-style-type: none;
  cursor: pointer;
}

.AddInitiative li:nth-child(odd) {
  background-color: #fff;
}
.AddInitiative li:nth-child(even) {
  background-color: #eee;
}
