
.explore {
  background-color: $snow;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.explore-navigation {
  display: flex;
}
.explore-navigation a {
  flex: 1;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  background-color: $red;
  color: white;
  margin-right: 2px;
  margin-bottom: 2px;
}
.explore-navigation a:last-of-type {
  margin-right: 0px;
}
.explore-map {
  height: 450px;
}
