.Explore {
  background-color: $snow;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.Explore-navigation {
  display: flex;
  flex-wrap: wrap;
}
.Explore-navigation a {
  flex: 1;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  background-color: $red;
  color: white;
  margin-right: 2px;
  margin-bottom: 2px;
}
.Explore-navigation a:last-of-type {
  margin-right: 0px;
}
.Explore-map {
  height: 250px;
}
@media (--bp-mobile) {
  .Explore-navigation {
    flex-wrap: nowrap;
  }
  .Explore-map {
    height: 450px;
  }
}
